#vijf-na-twaalf {
  h2 {
    font-size: 1.375rem;
  }

  p {
    font-size: 1.25rem;
    margin-top: 0;

    .block-space {
      display: inline-block;
      width: 60px;
    }
  }

  .title {
    margin-bottom: 1.5rem;
  }
}
