@import '../styles/variables';

#waanzin {
  .resource-link {
    position: fixed;
    transform: rotate(90deg);
    right: -4rem;
    bottom: 200px;

    .link {
      color: inherit;
      text-decoration: none;
    }
  }

  .facts {
    display: flex;
    margin: 2rem 0;
    flex-wrap: wrap;

    .fact {
      flex: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      max-width: 25%;

      h3, h5, p, a {
        margin: 0;
      }

      .link-wrapper {
        flex: 1;
        align-items: flex-end;
        display: flex;
        justify-content: center;

        .link {
          color: #374798;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .facts-steve{
    padding: 0;
    .list-item-steve {
      padding: 1rem;
    }
  }

  .text-right {
    text-align: right;
  }

  .expandable-list {
    padding-left: 1rem;
    text-align: left;
    margin: 0 0 1rem 0;
    color: #374798;

    .list-item {
      padding: .5rem;
    }

    .expandable-link {
      color: #374798;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
      display: block;
    }

    .expandable-content {
      display: none;
      color: black;

      &.show {
        display: initial;
      }
    }
  }

  @media only screen and (max-width: $media-breakpoint-xs) {
    .facts {
      margin: 2rem 0 0;

      .fact {
        max-width: initial
      }
    }
    
    .facts-steve{     
      padding: 0;
      .list-item-steve {
        padding: .5rem;
      }
    }
    
    .youtube-sm{
      height: auto !important;
      width: auto !important;
    };
    
  }
}
