#waanzin {
  .title-aside {
    left: -90px;
    top: 90px;
  }
  

  .expandable-list {
    padding-left: 1rem;
    text-align: left;
    margin: 0 0 1rem 0;

    .list-item {
      padding: .5rem;
    }

    .expandable-link {
      color: #374798;
      font-weight: bold;
      text-decoration: solid;
      cursor: pointer;
    }

    .expandable-content {
      display: none;

      &.show {
        display: initial;
        margin-left: 3px;
      }
    }
  }
}
