section {
  padding: 2rem 5rem;
  position: relative;

  .content {
    width: 50%;
    text-align: justify;

    &:not(:last-child) {
      padding-right: 1rem;
    }
  }

  .title-img {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 2rem;
  }

  p {
    margin-top: 0;
  }
}

article {
  display: flex;

  p {
    margin-top: 0;

    .block-space {
      display: inline-block;
      width: 60px;
    }
  }

  h4 {
    margin: 0;

    &.project-title {
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (max-width: $media-breakpoint-medium) {
  section {
    .title-img {
      margin-left: 1.5rem;
      width: 25px;
    }
  }
}

@media only screen and (max-width: $media-breakpoint-xs) {
  section {
    article {
      flex-wrap: wrap;

      .content {
        width: 100%;
        padding-right: 0 !important;
      }
    }
    }
  }
