.sticky {
  position: fixed;
  width: calc(100vw - 2rem);
  background: $white;
  padding: 1rem;
  z-index: 100;

  &-top {
    top: 0;
    bottom: auto;
  }
  &-bottom {
    bottom: 0;
    top: auto;
  }
}
