.sticky {
  position: fixed;
  width: calc(100vw - (#{$nav-bar-padding} + #{$nav-bar-padding}));
  background: $white;
  padding: $nav-bar-padding;
  z-index: 100;

  &-top {
    top: 0;
    bottom: auto;
  }
  &-bottom {
    bottom: 0;
    top: auto;
  }
}
