@import 'variables';
@import 'fonts';

@import 'containers';
@import 'sections';
@import 'sticky';
@import 'projects';
@import 'utils';

body {
  padding: $nav-bar-height 0;
  margin: 0;
}


@media only screen and (max-width: $media-breakpoint-medium) {
  body {
    padding-top: $nav-bar-height-small;
  }
}
