@import '../styles/variables';

#nav-bar {
  display: flex;
  justify-content: space-between;

  .main-logo {
    height: $main-logo-height;
  }

  .nav-items {
    display: flex;
    align-items: center;
    margin: 0;

    li {
      list-style: none;
      font-weight: bold;
    }

    .nav-item {
      margin: 0 1rem;
      color: black;
      text-decoration: none;
    }
  }

  .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
  }

  @media only screen and (max-width: $media-breakpoint-medium) {
    .main-logo {
      height: $main-logo-height-small;
    }
  }
  @media only screen and (max-width: $media-breakpoint-small) {
    .menu-toggle {
      display: block;
    }

    &.is-open {
      .nav-items {
        display: block;
        border-top: 1px solid;
      }
    }

    .nav-items {
      display: block;
      position: absolute;
      top: $nav-bar-height-small;
      width: 100vw;
      left: 0;
      padding-left: 0;
      background-color: $white;
      display: none;

      &.is-open {
        display: none;
      }

      li {
        border-bottom: 1px solid;

        &:hover {
          background-color: #f3f3f3;
        }
      }

      .nav-item {
        padding: 1rem 0;
        display: block;
      }
    }
  }
}
